@font-face { font-family: Auster; src: url("../assets/fonts/Auster.ttf"); }
@font-face { font-family: "Calibri Light"; src: url("../assets/fonts/Calibri Light.ttf"); }
@font-face { font-family: "Lato Light"; src: url("../assets/fonts/Lato Light.ttf"); }
@font-face { font-family: "Lato Regular"; src: url("../assets/fonts/Lato Regular.ttf"); }

h1 {
    text-align: center;
    font-family: "Lato Regular";
    font-size: 4vmax;
}

h3 {
    text-align: left;
    font-family: "Lato Regular";
    font-size: 35px;
    line-height: 10px;
    margin-bottom: -5px;
    margin-top: 50px;
}

p {
    text-align: left;
    font-family: "Lato Light";
    font-size: 20px;
    line-height: 27px;
}