.repogrid {
    background-color: #546175;
    width: 90%;
    height: 900px;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.repo {
    background-color: #212435;
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 0px 10px 10px black;
    margin: 10px;
}

.repotitlebox {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
}

.repolinkimage {
    width: 25px;
    margin: 0 0 0 10px;
}

.repotitle {
    color: white;
    font-size: 14px;
}

.repotext {
    color: white;
}