#socialsSection {
    position: sticky;
    height: 700px;
    bottom: 0px;
    width: 50%;
    z-index: 0;
    align-self: end;
}

#socialsAndAvatar {
    height: 280px;
    width: 350px;
    position: relative;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    z-index: 0;
}

#mySocials {
    height: 70px;
    width: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    z-index: 1;
}

#myAvatar {
    background-image: url("../../assets/images/home/background.jpg");
    border-radius: 50%;
    height: 200px;
    width: 200px;
    z-index: 2;
    position: relative;
    margin-top: 0%;
    margin-right: auto;
    margin-left: auto;
    background-position: -118px -40px;
    background-size: 180%;
    box-shadow: 0px 0px 15px black;
}

#avatarLines {
    height: 10px;
    width: 650px;
    background-image: url("../../assets/images/home/avatarLines.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0px -370px;
    z-index: 1;
    position: relative;
    overflow: hidden;
    top: 40%;
    margin-left: auto;
    margin-right: auto;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.fa-instagram {
    color: white;
    -webkit-animation: iconHoverInInstagram 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: iconHoverInInstagram 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.fa-instagram:hover {
    -webkit-animation: iconHoverOutInstagram 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: iconHoverOutInstagram 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.fa-discord {
    color: white;
    -webkit-animation: iconHoverInDiscord 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: iconHoverInDiscord 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.fa-discord:hover {
    -webkit-animation: iconHoverOutDiscord 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: iconHoverOutDiscord 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.fa-reddit {
    color: white;
    -webkit-animation: iconHoverInReddit 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: iconHoverInReddit 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.fa-reddit:hover {
    -webkit-animation: iconHoverOutReddit 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: iconHoverOutReddit 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.fa-twitter {
    color: white;
    -webkit-animation: iconHoverInTwitter 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: iconHoverInTwitter 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.fa-twitter:hover {
    -webkit-animation: iconHoverOutTwitter 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: iconHoverOutTwitter 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.fa-linkedin {
    color: white;
    -webkit-animation: iconHoverInLinkedin 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: iconHoverInLinkedin 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.fa-linkedin:hover {
    -webkit-animation: iconHoverOutLinkedin 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: iconHoverOutLinkedin 0.3s ease-in-out;
    animation-fill-mode: forwards;
}

.iconSeparator {
    height: 5px;
    width: 30px;
}