{{ define "main" }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral photo_title">Photos</h1>

    <section class="prose dark:prose-invert" style="min-width: 100%; margin-bottom: 18px;">
      {{ .Content | emojify }}
    </section>

    {{ $photo_json := resources.Get "/photos/photos.json" }}
    <div class="all_photos">
    {{ with resources.Get $photo_json }}
        {{ with . | transform.Unmarshal }}
            {{ range $key, $value := . }}
                <div class="display_photo" id="photo_{{ $value.alignment }}">
                    <img class="display_photo_content" src="/photos/{{ $value.photo }}">
                    <div class="display_photo_bottom">
                        <div class="display_photo_info">{{ $value.description }}</div>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    {{ end }}
    </div>
{{ end }}