{{ define "main" }}
    <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral photo_title">Photos</h1>

    <section class="prose dark:prose-invert" style="min-width: 100%; margin-bottom: 18px;">
      {{ .Content | emojify }}
    </section>

    {{ $photo_folder := resources.Get "/photos/photo001.JPG" }}
    <div class="all_photos">
        <div class="display_photo" id="photo_vertical">
            <img class="display_photo_content" src="{{ $photo_folder }}">
            <div class="display_photo_bottom">
                <div class="display_photo_info">Francesca's graduation</div>
            </div>
        </div>

        <div class="display_photo" id="photo_landscape">
            <img class="display_photo_content" src="/photos/photo002.jpeg">
            <div class="display_photo_bottom">
                <div class="display_photo_info">Placeholder</div>
            </div>
        </div>
    </div>
{{ end }}