/* Override */
html {
    font-family: "DM Sans";
    font-weight: 400;
}

.prose {
    max-width: 90%;
    width: 90%;
    text-align: left;
}

/* Home */
.custom-pfp {
    border-radius: 100%;
    height: 180px;
    width: 180px;
    margin: 40px 0 40px 0;
    box-shadow: 0px 0px 15px black;
    transition-duration: 0.3s;
}

.custom-links {
    margin: 15px 0 40px 0 ;
}


/* New stuff */

.home-left {
    display: flex;
    text-align: left;
}

.separator {
    width: 90%;
    height: 1px;
    background-color: rgba(var(--color-neutral-400), 1);
    margin: 0 0 40px 0;
}

.separator-left {
    width: 45%;
    height: 1px;
    background-color: rgba(var(--color-neutral-400), 1);
    margin: 0 0 40px 0;
}

.skills {
    width: 100%;
    height: 250px;
    border-radius: 20px;
    padding: 8px 0 8px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.single_skill {
    transition-duration: 0.5s;
    width: 20%;
    height: 100%;
    background-color: rgba(var(--color-neutral-700), 1);
    border-radius: 12px;
    margin: 0 4px 0 4px;
    text-align: center;
}

/* Pages */

.custom-page-desc {
    font-weight: 150;
    margin: 4px 0 20px 20px;
    line-height: 18px;
}

/* Projects */

.projects-list {
    width: 100%;
    height: 325px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project {
    width: 45%;
    min-width: 300px;
    height: 175px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    background: rgba(51,65,85,1);
    transition-duration: 0.3s;
    padding: 12px;
    margin: 0px 8px 16px 8px;
    color: white;
}

.project:hover {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    transition-duration: 0.5s;
}

.project-title {
    margin: 0 0 4px 0px;
}

#proj-notex:hover {
    transition-duration: 1s;
    background: rgba(205,193,85,0.2);
}

#proj-ssn:hover {
    transition-duration: 1s;
    background: rgba(85, 167, 205, 0.2);
}

.proj-link {
    text-decoration: none;
}