:root {
    --photo-landscape-width: 450px;
    --photo-landscape-height: 300px;

    --photo-square-width: 300px;
    --photo-square-height: 300px;

    --photo-vertical-width: 225px;
    --photo-vertical-height: 300px;
}

#photo_landscape {
    width: var(--photo-landscape-width);
    height: var(--photo-landscape-height);
}

#photo_square {
    width: var(--photo-square-width);
    height: var(--photo-square-height);
}

#photo_vertical {
    width: var(--photo-vertical-width);
    height: var(--photo-vertical-height);
}

.photo_title {
    margin: 0 0 20px 0;
}

.all_photos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.display_photo {
    border-radius: 12px;
    border: 5px solid white;
    margin: 8px;

    box-shadow: black 0px 0px 10px inset;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.display_photo_content {
    width: 100%;
    height: 100%;

    object-fit: cover;
    border-radius: 7px;
    z-index: -1;
    margin-bottom: -40px;
}

.display_photo_bottom {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    flex-grow: 1;
}

.display_photo_info {
    width: fit-content;
    height: fit-content;

    background-color: white;
    padding: 6px 8px 6px 8px;
    color: black;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    z-index: 0;

    border-radius: 4px 0 0 0;
}

