html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../../assets/images/home/alt_back_blurred.jpg");
    background-size: cover;
    background-position: -400px 70%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-items: center;
    display: flex;
    justify-content: left;
    margin: 0px;
}

#topBar {
    height: 235px;
    width: 100%;
    background-image: url("../../assets/images/home/topBar.png");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 10;
    position: fixed;
    top: -50px;
    left: 0px;
}

#bioSection {
    height: 2000px;
    width: 50%;
    position: relative;
    margin-right: 0%;
    background-color: #F5F1CA;
    z-index: 0;
}

#title {
    height: 90px;
    width: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    z-index: 0;
}

#quote {
    height: 60px;
    width: 90%;
    z-index: 1;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px
}

#lineBetweenText {
    height: 1px;
    width: 90%;
    background-color: black;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

#bio {
    height: 450px;
    width: 90%;
    z-index: 1;
    margin: auto;
}

#whatIDo {
    height: 350px;
    width: 90%;
    z-index: 1;
    margin: auto;
}

#myProjects {
    height: 300px;
    width: 95%;
    z-index: 2;
    margin: auto;
    align-items: center;
    display: flex;
    justify-content: center
}

.discordServerACSAI {
    height: 95%;
    width: 45%;
    z-index: 3;
    background-color: #e5dfaa;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    border: none;
    animation-name: buttonHoverOutDiscord;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.discordServerACSAI:hover{
    animation-name: buttonHoverInDiscord;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.dsProjImg {
    height: 35%;
    width: 95%;
    z-index: 4;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
    background-image: url("../../assets/images/home/Icon Discord.jpg");
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #68242f;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.portfolio {
    height: 95%;
    width: 45%;
    z-index: 15;
    background-color: #e5dfaa;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    border: none;
    animation-name: buttonHoverOutPortfolio;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.portfolio:hover {
    animation-name: buttonHoverInPortfolio;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

.portProjImgs {
    height: 35%;
    width: 95%;
    z-index: 4;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.portProjImg1 {
    height: 100%;
    width: 45%;
    z-index: 4;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/home/DSC_2747.jpg");
    margin-left: auto;
    margin-right: auto;
}

.portProjImg2 {
    height: 100%;
    width: 45%;
    z-index: 4;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
    background-size: 120%;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../assets/images/home/DSC_2755.jpg");
    margin-left: auto;
    margin-right: auto;
}

#emptyBeforeTitle {
    height: 8%;
    width: 90%
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

#informationsSection {
    height: 350px;
    width: 90%;
    z-index: 1;
    margin: auto;
}

#bottomPage {
    height: 200px;
    width: 100%;
    background-color: #7c2a2a;
    position: absolute;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0px;
    bottom: -1300px;
    z-index: 10;
    align-items: center;
    display: flex;
    justify-content: center;
}

#navigationSection {
    width: 25%;
    height: 94%;
    position: relative;
}

#infoSection {
    width: 25%;
    height: 94%;
    position: relative;
}

#contactMeSection {
    width: 25%;
    height: 94%;
    position: relative;
}

#spaceBetween {
    width: 5%;
    height: 94%;
    position: relative;
}

#littleLine {
    width: 45%;
    height: 1px;
    position: relative;
    margin-top: 23px;
    background-color: white;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 2px 0px 5px black;
}

.fa-circle-arrow-up {
    color: white;
    align-items: center;
    display: flex;
    justify-content: center;
}

.fa-circle-arrow-up:hover {
    -webkit-animation: iconHoverOutArrow 0.3s ease-in-out;
    -webkit-animation-fill-mode: forwards;
    animation: iconHoverOutArrow 0.3s ease-in-out;
    animation-fill-mode: forwards;
}