.pic_and_name {
    align-items: top;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#pro_pic {
    background-image: url("../../assets/images/home/background.jpg");
    border-radius: 50%;
    height: 200px;
    width: 200px;
    z-index: 2;
    position: relative;
    margin-top: 4vh;
    margin-right: auto;
    margin-left: auto;
    background-position: -118px -40px;
    background-size: 180%;
    box-shadow: 0px 0px 15px black;
}

.links {
    
}