@font-face { font-family: Auster; src: url("../assets/fonts/Auster.ttf"); }
@font-face { font-family: "Calibri Light"; src: url("../assets/fonts/Calibri Light.ttf"); }
@font-face { font-family: "Lato Light"; src: url("../assets/fonts/Lato Light.ttf"); }
@font-face { font-family: "Lato Regular"; src: url("../assets/fonts/Lato Regular.ttf"); }
@font-face { font-family: "JBM Regular"; src: url("../assets/fonts/JetBrainsMonoNLNerdFont-Regular.ttf"); }
@font-face { font-family: "JBM SemiBold"; src: url("../assets/fonts/JetBrainsMonoNLNerdFont-SemiBold.ttf"); }

:root {
    --font-color: #E2E2E2;
}

@media screen and (min-width: 0px) {
    h1 {
        text-align: left;
        font-family: "Abril Fatface", serif;
        color: var(--font-color);
        font-size: 100px;
        margin: -107px 0 -20px 25px;
    }

    p {
        text-align: left;
        font-family: "DM Sans", sans-serif;
        font-weight: 100;
        font-size: 50px;
        line-height: 1.25;
        margin: 40px;
        color: var(--font-color);
    }
}

@media screen and (min-width: 1000px) {
    h1 {
        text-align: left;
        font-family: "Abril Fatface", serif;
        color: var(--font-color);
        font-size: 50px;
        margin: -54.2px 0 -20px 25px;
    }

    p {
        text-align: left;
        font-family: "DM Sans", sans-serif;
        font-weight: 100;
        font-size: 20px;
        line-height: 27px;
        margin: 25px;
        color: var(--font-color);
    }
}

.abril-fatface-regular {
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
    text-align: left;
    font-family: "JetBrains Mono";
    font-weight: 400;
    font-size: 35px;
    line-height: 10px;
    margin-bottom: -5px;
    margin-top: 50px;
}

a {
    color: #5E86DC;
    text-decoration: none;
}
