{{ $aboutContentTOML := readFile "/assets/texts/about.toml" }}
{{ $aboutContent := $aboutContentTOML | transform.Unmarshal }}
<article
  class="{{ if not .Site.Params.homepage.showRecent }}
  {{ end }} flex flex-col items-center justify-center text-center"
>
  {{ partial "profile.html" }}
  <section class="prose dark:prose-invert">{{ .Content | emojify }}</section>
</article>
<section class="prose dark:prose-invert" style="min-width: 100%">
  {{ $aboutContent.texts.about_01 | markdownify }}
  
  <div class="pages_buttons_list">
    <button class="page_button" id="about_page" onclick="location.href='about'">🔮 Read more <b>about me</b></button>
    <button class="page_button" id="project_page" onclick="location.href='projects'">🚧 Discover <b>my projects</b></button>
    <button class="page_button" id="posts_page" onclick="location.href='posts'">📰 Some <b>posts</b> about stuff</button>
  </div>
</section>
<section>
  {{ partial "recent-articles.html" . }}
</section>