<div class="exp_container">
    <div class="exp_decorator">
        <div class="exp_dec_point"><img src="/icons/education.svg" class="edu_icon"></div>
        <div class="exp_dec_line"></div>
    </div>
    <div class="exp_content">
        <div class="exp_title_cont">
            <h3 class="exp_title">{{ .Params.title | markdownify }}</h3>
            <h4 class="exp_date">({{ .Params.date }})</h4>
        </div>
        <h4 class="edu_grade">
            {{ with .Params.grade }}
            Grade: {{ . }} • 
            {{ else }}
            
            {{ end }}{{ .Params.institution }}</h4>
        <p>{{ .Inner | markdownify }}</p>
    </div>
</div>