{{ $lang_range := split .Params.langs "," }}
<button class="project" id="proj-{{ .Params.id }}" onclick="location.href='{{ .Params.id }}'" type="button">
    <h2 class="project-title">{{ .Params.name }}</h2>
    <p class="text-neutral-900 dark:text-neutral" style="line-height: 18px; text-align: left; text-decoration: none">{{ .Inner }}</p>
    <div style="display: flex; flex-direction: row; margin-top: auto;">
        {{ range $lang_range}}
        <img src="/icons/{{ lower . }}.svg" width="32px" height="32px" style="margin: 4px">
        {{ end }}
    </div>
</button>